html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 8.33333%, transparent 8.33333%, transparent 8.33333%, #eee 8.33333%, #eee 16.66667%, transparent 16.66667%, transparent 16.66667%, #eee 16.66667%, #eee 25%, transparent 25%, transparent 25%, #eee 25%, #eee 33.33333%, transparent 33.33333%, transparent 33.33333%, #eee 33.33333%, #eee 41.66667%, transparent 41.66667%, transparent 41.66667%, #eee 41.66667%, #eee 50%, transparent 50%, transparent 50%, #eee 50%, #eee 58.33333%, transparent 58.33333%, transparent 58.33333%, #eee 58.33333%, #eee 66.66667%, transparent 66.66667%, transparent 66.66667%, #eee 66.66667%, #eee 75%, transparent 75%, transparent 75%, #eee 75%, #eee 83.33333%, transparent 83.33333%, transparent 83.33333%, #eee 83.33333%, #eee 91.66667%, transparent 91.66667%, transparent 91.66667%, #eee 91.66667%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 8.33333%, transparent 8.33333%, transparent 8.33333%, #eee 8.33333%, #eee 16.66667%, transparent 16.66667%, transparent 16.66667%, #eee 16.66667%, #eee 25%, transparent 25%, transparent 25%, #eee 25%, #eee 33.33333%, transparent 33.33333%, transparent 33.33333%, #eee 33.33333%, #eee 41.66667%, transparent 41.66667%, transparent 41.66667%, #eee 41.66667%, #eee 50%, transparent 50%, transparent 50%, #eee 50%, #eee 58.33333%, transparent 58.33333%, transparent 58.33333%, #eee 58.33333%, #eee 66.66667%, transparent 66.66667%, transparent 66.66667%, #eee 66.66667%, #eee 75%, transparent 75%, transparent 75%, #eee 75%, #eee 83.33333%, transparent 83.33333%, transparent 83.33333%, #eee 83.33333%, #eee 91.66667%, transparent 91.66667%, transparent 91.66667%, #eee 91.66667%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 8.33333%, transparent 8.33333%, transparent 8.33333%, #eee 8.33333%, #eee 16.66667%, transparent 16.66667%, transparent 16.66667%, #eee 16.66667%, #eee 25%, transparent 25%, transparent 25%, #eee 25%, #eee 33.33333%, transparent 33.33333%, transparent 33.33333%, #eee 33.33333%, #eee 41.66667%, transparent 41.66667%, transparent 41.66667%, #eee 41.66667%, #eee 50%, transparent 50%, transparent 50%, #eee 50%, #eee 58.33333%, transparent 58.33333%, transparent 58.33333%, #eee 58.33333%, #eee 66.66667%, transparent 66.66667%, transparent 66.66667%, #eee 66.66667%, #eee 75%, transparent 75%, transparent 75%, #eee 75%, #eee 83.33333%, transparent 83.33333%, transparent 83.33333%, #eee 83.33333%, #eee 91.66667%, transparent 91.66667%, transparent 91.66667%, #eee 91.66667%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 8.33333%, transparent 8.33333%, transparent 8.33333%, #eee 8.33333%, #eee 16.66667%, transparent 16.66667%, transparent 16.66667%, #eee 16.66667%, #eee 25%, transparent 25%, transparent 25%, #eee 25%, #eee 33.33333%, transparent 33.33333%, transparent 33.33333%, #eee 33.33333%, #eee 41.66667%, transparent 41.66667%, transparent 41.66667%, #eee 41.66667%, #eee 50%, transparent 50%, transparent 50%, #eee 50%, #eee 58.33333%, transparent 58.33333%, transparent 58.33333%, #eee 58.33333%, #eee 66.66667%, transparent 66.66667%, transparent 66.66667%, #eee 66.66667%, #eee 75%, transparent 75%, transparent 75%, #eee 75%, #eee 83.33333%, transparent 83.33333%, transparent 83.33333%, #eee 83.33333%, #eee 91.66667%, transparent 91.66667%, transparent 91.66667%, #eee 91.66667%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 8.33333%, transparent 8.33333%, transparent 8.33333%, #eee 8.33333%, #eee 16.66667%, transparent 16.66667%, transparent 16.66667%, #eee 16.66667%, #eee 25%, transparent 25%, transparent 25%, #eee 25%, #eee 33.33333%, transparent 33.33333%, transparent 33.33333%, #eee 33.33333%, #eee 41.66667%, transparent 41.66667%, transparent 41.66667%, #eee 41.66667%, #eee 50%, transparent 50%, transparent 50%, #eee 50%, #eee 58.33333%, transparent 58.33333%, transparent 58.33333%, #eee 58.33333%, #eee 66.66667%, transparent 66.66667%, transparent 66.66667%, #eee 66.66667%, #eee 75%, transparent 75%, transparent 75%, #eee 75%, #eee 83.33333%, transparent 83.33333%, transparent 83.33333%, #eee 83.33333%, #eee 91.66667%, transparent 91.66667%, transparent 91.66667%, #eee 91.66667%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

/*VARIABLES*/
/*HEADER CONTAINER*/
.header-element {
  height: 80px;
  background-color: #fff;
  margin-top: 0;
  border-bottom: 1px solid #F5F5F1; }

.header-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0; }
  .header-content::after {
    clear: both;
    content: "";
    display: table; }

.product-search {
  width: 530px;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  vertical-align: middle; }

.search-item {
  list-style: none;
  display: inline-block;
  vertical-align: middle; }

.logo {
  display: inline-block;
  vertical-align: middle; }

.logo img {
  width: 80px;
  height: 50px;
  display: inline-block; }

.search-box {
  width: 250px;
  height: 30px;
  background-color: #F5F5F1; }

.search-button {
  width: 78px;
  height: 30px;
  background-color: #32A4BF;
  border: 1px solid #2E96B0;
  margin-left: -5px; }

.search-button-search {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  line-height: 1.5em; }

.browse-button {
  width: 78px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #F5F5F1;
  margin-left: 30px; }

.browse {
  font-size: 1.5em;
  color: #666666;
  margin: 0;
  text-align: center;
  line-height: 1.5em; }

/*RIGHT HAND NAV*/
.primary-nav {
  width: 230px;
  height: 50px;
  display: inline-block;
  padding: 0;
  float: right; }

.nav-item {
  list-style: none;
  padding: 0 1em;
  display: inline-block;
  /* padding: 1em auto; */ }

.primary-nav .fa {
  display: block;
  text-align: center;
  color: #666666; }

.primary-nav p {
  font-size: 1.2em;
  color: #666666;
  margin-top: 0.5em;
  padding: 1em auto; }

.home,
.favorites,
.you {
  border-right: 1px solid #F5F5F1; }

.category-header {
  font-family: "Lora", serif;
  font-size: 2em;
  margin-bottom: 0.2em; }

.show-results-text {
  font-size: 1.2em;
  color: #6E6E6D; }

.all-categories {
  font-size: 1.2em;
  color: #6E6E6D;
  padding-left: 1em; }

.category-links {
  padding-left: 30px; }

.category-links a {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  color: #0192B5;
  padding: 0.4em 0; }

/*GLOBAL VARIABLES*/
/*SUBSCRIBE VARIABLES*/
/*FOOTER LINKS VARIABLES*/
/*LEGAL LINKS VARIABLES*/
/*MAIN FOOTER element*/
.footer-element {
  font-size: 1.4em; }

/*subscribe box*/
.subscribe {
  height: 135px;
  margin-top: 35px;
  border: 10px solid #EFEFEB; }

.subscribe-text {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center; }

.subscribe-btn {
  width: 95px;
  height: 40px;
  background-color: #37A9C5;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #2E97B0;
  position: relative;
  left: 450px; }

/*footer links*/
.footer-links {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .footer-links:last-child {
    margin-right: 0; }

.footer-links a {
  display: block;
  color: #0192B5;
  text-decoration: none;
  padding-bottom: 1em; }

.links {
  float: left;
  display: block;
  margin-right: 0%;
  width: 20%;
  list-style: none; }
  .links:last-child {
    margin-right: 0; }

.links .sell-etsy {
  padding-top: 1em; }

.start-business .open-shop-btn {
  width: 100px;
  height: 28px;
  background-color: #37A9C5;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #2E97B0; }

.follow-etsy .fa {
  color: #0192B5; }

.follow-etsy a {
  display: inline-block; }

/*horizontal rule*/
.section-break {
  height: 1px;
  background-color: #EFEFEB; }

/*other links and legal links*/
.locale-links {
  height: 35px;
  list-style: none;
  display: inline-block;
  margin: 1em auto;
  padding-left: 0;
  margin-left: 275px; }

.locale-links .item {
  height: 35px;
  display: inline-block;
  border: 1px solid #666666;
  padding: 0 0.5em; }

.locale-links a {
  text-decoration: none;
  color: #666666;
  line-height: 35px;
  font-size: 0.9em; }

.country .fa {
  color: #666666; }

.help {
  width: 140px;
  height: 35px;
  display: inline-block;
  background-color: #F3F3F2;
  padding: 0;
  margin-left: 35px;
  border-radius: 3px; }

.help .btn-help {
  color: #666666; }

.legal-links {
  text-align: center; }

.legal-links .copyright {
  list-style: none;
  display: inline-block;
  font-size: 0.8em;
  color: #B29999; }

.legal-links a {
  list-style: none;
  text-decoration: none;
  font-size: 0.8em;
  color: #7D7773;
  padding: 0 1em; }

body {
  font-size: 62.5%;
  font-family: arial;
  list-style: none; }

/*PAGE LAYOUT, including main elements*/
/*CATEGORY RESULTS*/
.category-container {
  height: 320px;
  background-color: #EBEBE6;
  /* margin-top: -12px; */ }

.category-listings {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  margin-top: -12px;
  padding: 2em 0; }
  .category-listings::after {
    clear: both;
    content: "";
    display: table; }

.categories {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  list-style: none;
  padding: 0; }
  .categories:last-child {
    margin-right: 0; }

.category {
  float: left;
  display: block;
  margin-right: 0%;
  width: 20%; }
  .category:last-child {
    margin-right: 0; }

/*MAIN CONTAINER*/
.main-container {
  background-color: #F5F5F1;
  border-bottom: 1px solid #7D7773; }

.main-container-wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px; }
  .main-container-wrapper::after {
    clear: both;
    content: "";
    display: table; }

/*CATEGORY SIDEBAR*/
.category-sidebar {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  height: 410px;
  background-color: #fff; }
  .category-sidebar:last-child {
    margin-right: 0; }

/*PRODUCT LISTINGS and PRODUCTS*/
.product-listings {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%;
  display: inline-block;
  margin: 0; }
  .product-listings:last-child {
    margin-right: 0; }

.product {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
  display: inline-block;
  margin-bottom: 1.5em; }
  .product:last-child {
    margin-right: 0; }
  .product:nth-child(3n) {
    margin-right: 0; }
  .product:nth-child(3n+1) {
    clear: left; }

.footer-element {
  height: 565px;
  background-color: #F5F5F1;
  /*   margin-top: 35px; */ }

.footer-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  .footer-content::after {
    clear: both;
    content: "";
    display: table; }
