
.footer-element {
  font-size: 1.4em;
}


.subscribe {
  height: 135px;
  border: 10px solid #EFEFEB;
}
  .subscribe-text {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
  }

  .subscribe-btn {
    width: 95px;
    height: 40px;
    background-color: #37A9C5;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #2E97B0;
    position: relative;
    left: 450px;
  }


.footer-links {
  @include span-columns(12);
}

  .footer-links a {
    display: block;
    color: #0192B5;
    text-decoration: none;
    padding-bottom: 1em;
  }

.links {
  @include span-columns(2.4 of 12);
  list-style: none;
}

  .links .sell-etsy {
    padding-top: 1em;
  }

  .start-business .open-shop-btn {
    width: 100px;
    height: 28px;
    background-color: #37A9C5;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #2E97B0;
  }

  .follow-etsy .fa {
    color: #0192B5;
  }

  .follow-etsy a {
    display: inline-block;
  }
