
.footer-element {
  font-size: 1.4em;
}


.subscribe {
  height: 135px;
  border: 10px solid #EFEFEB;
}
  .subscribe-text {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
  }

  .subscribe-btn {
    width: 95px;
    height: 40px;
    background-color: #37A9C5;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #2E97B0;
    position: relative;
    left: 450px;
  }


.footer-links {
  @include span-columns(12);
}

  .footer-links a {
    display: block;
    color: #0192B5;
    text-decoration: none;
    padding-bottom: 1em;
  }

.links {
  @include span-columns(2.4 of 12);
  list-style: none;
}

  .links .sell-etsy {
    padding-top: 1em;
  }

  .start-business .open-shop-btn {
    width: 100px;
    height: 28px;
    background-color: #37A9C5;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #2E97B0;
  }

  .follow-etsy .fa {
    color: #0192B5;
  }

  .follow-etsy a {
    display: inline-block;
  }

  .section-break {
    height: 1px;
    background-color: #EFEFEB;
  }


  .locale-links {
    height: 35px;
    list-style: none;
    display: inline-block;
    margin: 1em auto;
    padding-left: 0;
    margin-left: 275px;
  }


  .locale-links .item {
    height: 35px;
    display: inline-block;
    border: 1px solid #666666;
    padding: 0 0.5em;
  }


    .locale-links a {
      text-decoration: none;
      color: #666666;
      line-height: 35px;
      font-size: 0.9em;
    }

      .country .fa {
        color: #666666;
      }


      .help {
        width: 140px;
        height: 35px;
        display: inline-block;
        background-color: #F3F3F2;
        padding: 0;
        margin-left: 35px;
        border-radius: 3px;
      }

        .help .btn-help {
          color: #666666;
        }


  .legal-links {
    text-align: center;
  }

  .legal-links .copyright {
    list-style: none;
    display: inline-block;
    font-size: 0.8em;
    color: #B29999;
  }

  .legal-links a {
    list-style: none;
    text-decoration: none;
    font-size: 0.8em;
    color: #7D7773;
    padding: 0 1em;
  }
