$visual-grid: true;
$border-box-sizing: true;


@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import 'header.scss';


body {
  font-size: 62.5%;
  font-family: arial;
  list-style: none;
}

/*PAGE LAYOUT, including main elements*/



/*CATEGORY RESULTS*/

.category-container {
  height: 320px;
  background-color: #EBEBE6;
  /* margin-top: -12px; */
}

  .category-listings {
    @include outer-container(980px);
    margin: 0 auto;
    margin-top: -12px;
    padding: 2em 0;
  }


    .categories {
      @include span-columns(12);
      list-style: none;
      padding: 0;
    }

    .category {
      @include span-columns(2.4 of 12);
    }



  /*MAIN CONTAINER*/

  .main-container {
    background-color: #F5F5F1;
  }

    .main-container-wrapper {
      @include outer-container(980px);
      padding-top: 50px;
    }


      /*CATEGORY SIDEBAR*/

      .category-sidebar {
        @include span-columns(3);
        height: 410px;
        background-color: #fff;
      }


      /*PRODUCT LISTINGS and PRODUCTS*/

      .product-listings {
        @include span-columns(9);
        display: inline-block;
        margin: 0;
      }

          .product {
            @include span-columns(3 of 9);
            @include omega(3n);
            display: inline-block;
            margin-bottom: 1.5em;
          }
