$visual-grid: true;
$border-box-sizing: true;
/* $gutter: 0em; */


@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import 'header.scss';
@import 'content.scss';
@import 'footer.scss';


body {
  font-size: 62.5%;
  font-family: arial;
  list-style: none;
}

/*PAGE LAYOUT, including main elements*/



/*CATEGORY RESULTS*/

.category-container {
  height: 320px;
  background-color: #EBEBE6;
  /* margin-top: -12px; */
}

  .category-listings {
    @include outer-container(980px);
    margin: 0 auto;
    margin-top: -12px;
    padding: 2em 0;
  }


    .categories {
      @include span-columns(12);
      list-style: none;
      padding: 0;
    }

    .category {
      @include span-columns(2.4 of 12);
    }



  /*MAIN CONTAINER*/

  .main-container {
    background-color: #F5F5F1;
    border-bottom: 1px solid #CCCCCC;
  }

    .main-container-wrapper {
      @include outer-container(980px);
      padding-top: 30px;
    }


      /*SIDEBAR with category listings and filter options*/


      .sidebar-container {
        @include span-columns(3);
        height: auto;
        display: inline-block;
      }

        .sidebar-wrapper {
          @include span-columns(3 of 3);
          display: inline-block;
          /* background-color: #fff; */
        }

        .category-sidebar {
          height: 410px;
          background-color: #fff;
          margin-top: -12px;
          /* display: inline-block; */
        }

        .product-filters {
          height: 680px;
          background-color: #fff;
          margin-top: 7em;
          /* display: inline-block; */
        }


      /*PRODUCT LISTINGS and PRODUCTS*/

      .product-listings {
        @include span-columns(9);
        display: inline-block;
        margin: 0;
        padding-left: 20px;
      }

          .product {
            @include span-columns(3 of 9);
            @include omega(3n);
            display: inline-block;
            margin-bottom: 1.5em;
          }


    .footer-element {
      height: 565px;
      background-color: #F5F5F1;
    /*   margin-top: 35px; */
    }

      .footer-content {
        @include outer-container(980px);

      }
